<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scriptur">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

       <application
        android:allowBackup="true"
        android:icon="@drawable/sciprtsure_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/sciprtsure_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SceneCharacterTabbedActivity"
            android:label="@string/title_activity_scene_character_tabbed"
            android:parentActivityName=".PlayListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayListActivity" />
        </activity>

           <activity android:name=".PictureScanActivity"
               android:parentActivityName=".NewLineActivity">
               <meta-data
                   android:name="android.support.PARENT_ACTIVITY"
                   android:value=".NewLineActivity" />
           </activity>
        <activity
            android:name=".UpdateLineActivity"
            android:parentActivityName=".LineListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LineListActivity" />
        </activity>
        <activity
            android:name=".UpdateSceneActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity" />
        </activity>
        <activity
            android:name=".UpdateCharacterActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity" />
        </activity>
        <activity
            android:name=".UpdatePlayActivity"
            android:parentActivityName=".PlayListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayListActivity" />
        </activity>
        <activity android:name=".PlayListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LineListActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity" />
        </activity>
        <activity
            android:name=".NewLineActivity"
            android:parentActivityName=".LineListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LineListActivity" />
        </activity>
        <activity
            android:name=".NewCharacterActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity" />
        </activity>
        <activity
            android:name=".NewSceneActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity" />
        </activity>
        <activity
            android:name=".NewPlayActivity"
            android:parentActivityName=".PlayListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PlayListActivity" />
        </activity> <!-- TO BE DELETED -->

           <provider
               android:name="androidx.core.content.FileProvider"
               android:authorities="com.example.android.fileprovider"
               android:exported="false"
               android:grantUriPermissions="true">
               <meta-data
                   android:name="android.support.FILE_PROVIDER_PATHS"
                   android:resource="@xml/file_paths"></meta-data>
           </provider>

       </application>

</manifest>