<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.scriptur">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/scriptur_logo_non_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/scriptur_logo_non_transparent"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SceneCharacterTabbedActivity"
            android:label="@string/title_activity_scene_character_tabbed"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Play_List_Activity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".Play_List_Activity"/>
        </activity>

        <activity android:name=".UpdateLineActivity"
            android:parentActivityName=".Line_List_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Line_List_Activity"/>
        </activity>

        <activity android:name=".UpdateSceneActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SceneCharacterTabbedActivity"/>
        </activity>

        <activity android:name=".UpdateCharacterActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".SceneCharacterTabbedActivity"/>
        </activity>

        <activity android:name=".UpdatePlayActivity"
            android:parentActivityName=".Play_List_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Play_List_Activity"/>
        </activity>

        <activity android:name=".Play_List_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Line_List_Activity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity"/>
        </activity>


        <activity android:name=".NewLineActivity"
            android:parentActivityName=".Line_List_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Line_List_Activity"/>
        </activity>

        <activity android:name=".NewCharacterActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity"/>
        </activity>

        <activity android:name=".NewSceneActivity"
            android:parentActivityName=".SceneCharacterTabbedActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SceneCharacterTabbedActivity"/>
        </activity>

        <activity android:name=".NewPlayActivity"
            android:parentActivityName=".Play_List_Activity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Play_List_Activity"/>
        </activity>



        <!--TO BE DELETED-->
        <activity android:name=".Character_List_Activity" />
        <activity android:name=".Scene_List_Activity" />
        <activity android:name=".MainActivity">


        </activity>
    </application>

</manifest>